
body
{
    background: linear-gradient( 320deg , #eb92be , #ffef78 , #63c9b4);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 23px;
    padding: 0;
    position: relative;
    background: rgba(255 , 255 , 255 , 0.3);
    border: 1px solid #717377;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(113 , 115 , 119 , 0.5);
}


table
{
   margin: auto;
}

input
{
    margin-top: 10px;
    border-radius: 20px;
    border: 0.5px solid gray;
    background: #fdfcdc;
    padding: 10px;
    height: 60px;
    width: 80%;
    font-size: 35px;
    font-weight: bolder;
    box-shadow: 0px 3px 15px rgba(84 , 84 , 84 ,0.3);
    cursor: pointer;
    text-align: right;
    color: black;
    
}


button
{
    border-radius: 30%;
    font-size: 35px;
    height: 70px;
    width: 80px;
    margin: 6px;
    background: #fdfcdc;
    color: #353535;
    border: 0.3px solid #adb5bd ;
    font-weight: 550;
    box-shadow: -6px -6px 12px rgba(000 , 000 , 000 , 0.1);
    cursor: pointer;
    transition: all 0.3s;
}



/*@media (min-width:786px)
{
    button:hover
{
     background-color:#e5e5e5;
}
    button:active
    {
        transform: scale(0.96);
    }   
}*/

.clear
{
    font-size: 30px;
    font-weight: bolder;
    color: orangered;
    color: #ff0a54;
}

.operator
{
    font-weight: bolder;
    color: #169873;
}

.equals
{
    font-weight: bolder;
    background: #b9fbc0;
    color: #0a0a0a;
}

.equals:hover
{
    background-color: #89c2d9;
}

/*.calculator
{
    position: relative;
    background: rgba(255 , 255 , 255 , 0.3);
    border: 1px solid #717377;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(113 , 115 , 119 , 0.5);
}*/

h1
{
    color: #353535;
    font-family: sans-serif;
}

.delete
{
    font-size: 30px;
    font-weight: bold;
    color: #ff0a54;
}


@media(max-width:480px)
{
    
    .container
{
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    padding: 5px;
}

input
{
    margin-top: 2px;
    border-radius: 15px;
    padding: 5px;
    height: 55px;
    width: 90%;
    font-size: 35px;
}

button
{
    height: 50px;
    width: 60px;
    margin: 6px;
    font-size: 30px;
    transition: all 0s;
}


.delete
{
    font-size: 23px;
}

button:focus {
    border-radius: 30%;
}

}

@media (min-width:460px)
{
    button:hover
{
     background-color:#e5e5e5;
}
    button:active
    {
        transform: scale(0.96);
    }   
}